<form class="form-horizontal">
    <fieldset id="form">
        <legend>Form {{ id }}</legend>

        <div class="form-group">
            <label class="col-md-12 control-label" for="connected_to">Connected to</label>
            <div class="col-md-12">
                <select id="connected_to" name="connected_to" class="form-control">
                    {% for shape in all_shapes %}
                    {% if shape == connected_to %}
                    <option value="{{ shape }}" selected>{{ shape }}</option>
                    {% else %}
                    <option value="{{ shape }}">{{ shape }}</option>
                    {% endif %}
                    {% endfor %}
                    <option value="{{ shape }}">undefined</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 control-label" for="executor">Executor</label>
            <div class="col-md-12">
                <select id="executor" name="executor" class="form-control">
                    {% for exec in executors %}
                    {% if exec == executor %}
                    <option value="{{ exec }}" selected>{{ exec }}</option>
                    {% else %}
                    <option value="{{ exec }}">{{ exec }}</option>
                    {% endif %}
                    {% endfor %}
                    <option value="{{ connector }}">undefined</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 control-label" for="description">Description</label>
            <div class="col-md-12">
                <textarea class="form-control" id="description" name="description">{{ description }}</textarea>
            </div>
        </div>

    </fieldset>
</form>
<div class="form-group">
    <label class="col-md-12 control-label" for="button_change_{{ id }}"></label>
    <div class="col-md-12">
        <button id="button_change_{{ id }}" value="{{ id }}" name="button_change" class="btn btn-success" onclick="save_info(this)">Save</button>
        <button id="button_dismiss" name="button_dismiss" class="btn btn-danger">Dismiss</button>
    </div>
</div>
