<div class="rhombus" style="position:relative; height: 200px; width: 400px;">
    <div class="rhombus-img">
        <img class="draggable" src="/static/img/rhombus2.png" alt="" style="width: 100%; height: 100%; position: absolute;">
    </div>

    <div class="rhombus-content" style="position: absolute; top: 68px; left: 85px">
        <div class="title">{{ title }}</div>
        <div class="body">{{ description }}</div>
        <div class="role">Executing: <b>{{ executor }}</b></div>
    </div>
</div>
