<link href='/static/css/bs.css' rel="stylesheet" type="text/css">
<link href='/static/css/system/bootstrap.min.css' rel="stylesheet" type="text/css">
<link href='/static/css/system/animate.css' rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/system/w3.css">
<!--script src="https://code.jquery.com/jquery-1.12.4.js"></script-->
<script src="/static/js/system/jquery-3.1.0.min.js"></script>
<script src="/static/js/system/jquery-ui.js"></script>
<script src="/static/js/system/bootstrap.min.js"></script>

<script src="/static/js/my/requests.js"></script>
<script src="/static/js/my/line.js"></script>
<script src="/static/js/my/coord.js"></script>
<script src="/static/js/my/lines.js"></script>
<script src="/static/js/my/shapes.js"></script>

<script src="/static/js/my/square.js"></script>
<script src="/static/js/my/rhombus.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">


<style>

    .square {
        height: 200px;
        width: 300px;

        border: solid 2px black;
    }
    .square .title {
        width: 100%;
        height: 20%;
        background-color: #009926;

        padding: 2px;

        text-align: center;

        border-bottom: solid 2px black;

        cursor: pointer;
    }
    .square .body {
        width: 100%;
        height: 70%;
        background-color: #4d90fe;

        padding: 5px;

        border-bottom: solid 2px black;

        overflow: auto;
    }
    .square .role {
        width: 100%;
        height: 10%;
        background-color: #009926;

        text-align: center;
    }


    .rhombus {
        background-image;
    }




    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #434343;
        background-image:linear-gradient(#434343, #282828);
    }
    .body {
        cursor: cell;
    }
    .left-panel {
        width: 50px;
        background-color: #7b7b7b;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        z-index: 11;
    }
    .left-panel img {
        width: 100%;
    }
    .icon {
        margin: 5px;
    }
    .right-panel {
        width: 400px;
        margin-right: 0px;

        padding-right: 20px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;

        background-color: rgba(66, 139, 202, 0.43);
        height: 100vh;
        position: fixed;
        z-index: 11;
        right: 0;
        overflow: auto;
        border-left: solid 4px rgb(255, 87, 34);
    }
    .container-div {
        margin-left: 50px;
        cursor: move;
        height: 10000px;
        position: absolute;
        width: 10000px;
        z-index: 10;
        background-color: rgba(255, 0, 0, 0);
        background-image: linear-gradient(0deg,
        rgba(6, 3, 3, 0) 24%,
        rgb(185, 185, 185) 25%,
        rgba(33, 17, 17, 0) 26%,
        rgba(0, 0, 0, 0) 27%,
        rgba(0, 0, 0, 0) 74%,
        rgb(185, 185, 185) 25%,
        rgba(33, 31, 31, 0) 76%,
        rgba(0, 0, 0, 0) 77%,
        rgba(0, 0, 0, 0)),

        linear-gradient(90deg,
                rgba(0, 0, 0, 0) 24%,
                rgb(185, 185, 185) 25%,
                rgba(60, 23, 23, 0) 26%,
                rgba(0, 0, 0, 0) 27%,
                rgba(0, 0, 0, 0) 74%,
                rgb(185, 185, 185) 25%,
                rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
        background-size: 50px 50px;
    }
    .viewport-div {
        background-color:#dcdcdc;
        position:absolute;
        overflow:hidden;
        width: 100%;
        height: 100%;
    }
    /*
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: #eaeaea;
        border-left: 1px solid #ccc;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }*/









</style>



<body>




<div class="left-panel">
    <div class="icon">
        <img src="/static/img/rect.png" alt="rectangle" onclick="add_square()">
    </div>
</div>

<div class="viewport-div" id="display-area">
    <div class="container-div" id="container">
        <svg id="svg" style="position: absolute" viewBox="0 0 10000 10000" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <defs>
                <marker id="MarkerArrow" viewBox="0 0 20 20" refX="19" refY="10"
                        markerUnits="userSpaceOnUse"  orient="auto"
                        markerWidth="20" markerHeight="20">
                    <polyline id="markerPoly1" points="0,0 20,10 0,20 2,10" fill="crimson"></polyline>
                </marker>
            </defs>
        </svg>
    </div>
</div>

<div class="right-panel animated w3-animate-right" hidden>
    <div id="right-panel-form">

    </div>
    <div class="right-panel-footer">

    </div>
</div>


<script>
    function show(el, el1) {
        console.log(":::: " + el + " :::: " + el1);
    }

    var json_with_shapes = {{ shapes | safe }};

    var shapes = new Shapes();
    var lines = new Lines($("#svg"));

    function save_info(el) {
        var id = $(el).attr("value");
        shapes.save_info(id);
    }

    function draw_shapes_and_lines() {

        for(var shape_id in json_with_shapes) {
            switch(json_with_shapes[shape_id].type) {
                case "square":
                    shapes.add_new_square(shape_id, json_with_shapes[shape_id]);
                    break;
                case "rhombus":
                    shapes.add_new_rhombus(shape_id, json_with_shapes[shape_id]);
                    break;
            }
        }

        for(var this_square_id in json_with_shapes) {
            var this_shape = json_with_shapes[this_square_id];

            if("connectors" in this_shape) {
                var connectors = this_shape["connectors"];
                for(var connector in connectors) {
                    lines.add_line(this_square_id, connectors[connector]["to"]);
                }
            } else if("connected_to" in this_shape) {
                if("to" in this_shape["connected_to"] && this_shape["connected_to"]["to"] != "") {
                    lines.add_line(this_square_id, this_shape["connected_to"]["to"]);
                }
            }
        }
    }

    function add_draggable($obj, handle) {
        $obj.handle = handle;

        $obj.draggable({
            containment: 'parent',
            disabled: false,
            drag: function(e) {
                var scrollEast = ($viewport.width()-$obj.handle.offset().left) <= 75;
            },
            handle: $obj.handle,
            scroll: true,
            scrollSensitivity: 40,
            start: function() {},
            stop: function() {}
        });
    }

    function draw_viewport() {
        $viewport = $('.viewport-div');
        $container = $('.container-div');

        add_draggable($('.square'), $('.square .title'));
        add_draggable($('.rhombus'), $('.rhombus .rhombus-img img'));

        $container.draggable({
            containment: [
                ((-1*$container.width())+$(window).width()),
                ((-1*$container.height())+$(window).height()),
                0, 0
            ]
        });
    }

    $(document).ready(function() {
        draw_shapes_and_lines();
        draw_viewport();
    });
</script>



</body>
